<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>app-estacion - Inicio</title>

	<link rel="stylesheet" type="text/css" href="views/static/css/vars.css">
	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css">
	
</head>
<body>
	<div id="wrapper">
		<header class="header__landing">
			<h1>App Estación</h1><div class="flexCenter content">
					<div class="boton {{NOLOGUED}}">
						<a href="login">Iniciar Sesion</a>
					</div>
					<div class="boton {{NOLOGUED}}">
						<a href="register"> Registrarse</a>
					</div>
					<div class="boton {{LOGUED}}">
						<a href="panel"> Ir al panel</a>
					</div>
				</div>
		</header>
		<main class="flexCenter main__landing">
			<div class="contenido">
				<h1>Monitoreo Climático Inteligente con ESP8266</h1>
				<p>
Nuestro sistema de estaciones meteorológicas, impulsado por ESP8266, permite recopilar y enviar datos en tiempo real sobre temperatura, humedad y velocidad del viento. Cada estación cuenta con sensores de alta precisión y se conecta de manera automática a través de Wi-Fi, enviando los datos a un servidor centralizado. Desde ahí, puedes acceder a un dashboard para monitorear condiciones climáticas, visualizando gráficos y tendencias para una toma de decisiones informada. Ideal para agricultura, investigación y monitoreo ambiental.
				</p>
				
			</div>
		</main>
	</div>
</body>
</html>